<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="../style/carrossel.css">
    <title>Document</title>
</head>
<body>
    <!-- <iframe src="/partials/header.html" frameborder="0" height="150px" width="100%"></iframe> -->
   
    <div id="carousel">
        <img src="../images/foot.jpg" class="slide">
        <img src="../images/hero-bg.jpg" class="slide">
        <img src="../images/ucd-sport-2016-pageBanner04.jpg" class="slide">
      </div>
      <button id="previous"> <img src="../images/arrow-circle-left.svg" alt="">  </button>
      <button id="next"> <img src="../images/arrow-circle-right.svg" alt=""> </button>

      <!-- bolinhas de paginacao -->
      <div id="pagination">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    <script src="../js/carrossel.js"></script>
    <!-- <div class="text">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae odio blanditiis tempore laborum quo tenetur quae deserunt laudantium iusto animi enim, facilis neque, impedit tempora. Voluptatum minus ad dolorum distinctio?</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae odio blanditiis tempore laborum quo tenetur quae deserunt laudantium iusto animi enim, facilis neque, impedit tempora. Voluptatum minus ad dolorum distinctio?</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae odio blanditiis tempore laborum quo tenetur quae deserunt laudantium iusto animi enim, facilis neque, impedit tempora. Voluptatum minus ad dolorum distinctio?</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae odio blanditiis tempore laborum quo tenetur quae deserunt laudantium iusto animi enim, facilis neque, impedit tempora. Voluptatum minus ad dolorum distinctio?</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae odio blanditiis tempore laborum quo tenetur quae deserunt laudantium iusto animi enim, facilis neque, impedit tempora. Voluptatum minus ad dolorum distinctio?</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae odio blanditiis tempore laborum quo tenetur quae deserunt laudantium iusto animi enim, facilis neque, impedit tempora. Voluptatum minus ad dolorum distinctio?</p>
    </div> -->
    

    <!-- <iframe src="/partials/footer.html" frameborder="0" height="150px" width="100%"></iframe> -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>