<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style/reset.css">
  <link rel="stylesheet" href="../style/footer.css">
  <title>Document</title>
</head>

<body>
  <footer>
    <div class="categoria">
      <h3>PRODUTOS</h3>
      <ul>
        <li><a href="../views/carrinho.html">Calçados</a></li>
        <li><a href="../views/carrinho.html">Blusas</a></li>
        <li><a href="../views/carrinho.html">Calças</a></li>
      </ul>
    </div>


    <hr class="vertical-line">

    <div class="categoria">
      <h3>ESPORTES</h3>
      <ul>
        <li><a href="../views/desenvolvimento.html">Futebol</a></li>
        <li><a href="../views/desenvolvimento.html">Futsal</a></li>
        <li><a href="../views/desenvolvimento.html">Futepraia</a></li>
      </ul>
    </div>

    <hr class="vertical-line">

    <div class="categoria">
      <h3>INFORMAÇÕES</h3>
      <ul>
        <li><a href="../views/about.html">Sobre nos</a></li>
        <li><a href="../views/desenvolvimento.html">Carreiras</a></li>
        <li><a href="../views/desenvolvimento.html">Imprensa</a></li>
      </ul>
    </div>

    <hr class="vertical-line">

    <div class="categoria">
      <h3>SIGA-NOS</h3>
      <ul>
        <li><a href="#">
            <ion-icon name="logo-facebook"></ion-icon>
            Facebook
          </a>

        </li>
        <li><a href="#">
            <ion-icon name="logo-Twitter"></ion-icon>
            Twitter
          </a>

          </ion-icon>
        </li>
        <li><a href="#">
            <ion-icon name="logo-Instagram"></ion-icon>
            Instagram
          </a>

        </li>
      </ul>
    </div>
  </footer>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>