<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="../style/header.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="h-titulo"><p>Titulo do projeto</p></div>

        <div class="h-medio">
            <div class="h-navybar">
                <ul class="nav-list">
                    <li class="nav-item"><a href="../views/home.html">Home</a></li>
                    <li class="nav-item"><a href="../views/carrinho.html">Produtos</a></li>
                    <li class="nav-item"><a href="../views/about.html">Sobre</a></li>
                    <li class="nav-item"><a href="../views/contact.html">Contato</a></li>
                </ul>
            </div>
            <div class="right-side">
                <div class="search">
                    <input type="text" placeholder="Procurar">
                </div>
                <div class="icons-header">
                    <div class="icon-right-site"> 
                        <a href="../views/desenvolvimento.html">
                            <ion-icon name="person-outline"></ion-icon>
                        </a>
                       
                    </div>
                
                    <div class="icon-right-site">
                        <a href="../views/desenvolvimento.html">
                            <ion-icon name="star-outline"></ion-icon>
                        </a>
                       
                    </div>
                
                    <div class="icon-right-site">
                        <a href="../views/desenvolvimento.html">
                            <ion-icon name="cart-outline"></ion-icon>
                        </a>
                        
                    </div>
                </div>

            </div>

            
            </div>


        <div class="h-cadastro"><a href="../views/contact.html">
            Entre para o clube

        </a>
        </div>


    </header>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>


<!-- https://medium.com/@deywerson.pereira/como-reaproveitar-header-e-footer-em-outras-p%C3%A1ginas-utilizando-apenas-html-886c648037d8 -->