/* .divpai{
    display: flex;
    flex-direction: row ;
    justify-content: space-evenly;
}

.chamada{
    text-align:left;
    font-family:Arial, Helvetica, sans-serif;
    
}*/
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&family=Clicker+Script&family=Kanit:wght@100&family=Poppins:wght@200;300;500;600;700&display=swap');

body { font-family: 'Chivo Mono', monospace;}


/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- seção de destaque */
.produtos {
  display: flex;
  justify-content: center;
}

.destaque-card {
  display: inline-block;
  width: 20%;
  height: 400px;
  background-color: #f1f1f1;
  margin: 10px;
  text-align: center;
  /* border: 1px solid red; */
}

/* Define o estilo para as imagens dos cards */
.destaque-card img {
  width: 80%;
  height: 60%;
}

/* Define o estilo para o texto dos cards */
.destaque-card .desconto {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  margin: 10px;
  margin-left: 10px;
  border: 1px solid red;
  width: 80px;
  background-color: red;
}

.destaque-card .preco {
  font-size: 16px;
  color: #000000;
  margin: 10px;
  margin-left: -120px;
}

.destaque-card .descricao {
  font-size: 14px;
  color: #333333;
  padding: 0px 10px 10px 10px;
}

/* Destaque title */
.destaque_section {
  display: flex;
  justify-content: space-between;
  width: 650px;
  margin: 30px 0px 10px 0px;
  margin-left: 42.6%;

  /* border: 1px solid red; */

}

.destaque_title {
  width: 400px;
  font-weight: bolder;

}

.destaque_title p {
  margin-top: 16px;
  font-size: 24px;

}

/* Define o estilo para os botões */
.btn-box {
  width: 110px;
  height: 50px;
  margin-bottom: -10px;
  display: flex;
  justify-content: center;
  margin-right: -30px;
}

button {
  width: 50px;
  height: 50px;
  font-size: 14px;
  margin-left: -20px;
  font-weight: 900;
}

#btn-prev,
#btn-next {
  background-color: rgba(243, 242, 242, 0.685);
  color: rgb(0, 0, 0);
  margin-left: 5px;
  width: 25px;
  height: 25px;
  margin-top: 20px;
  margin-left: 15px;
}

#btn-prev:hover,
#btn-next:hover {
  background-color: #000;
  color: white;
}


/* dot de paginacao */



/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- --  tendencias      */

#trending-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#trending-section h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1em;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-trending {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
  width: 300px;
  height: 510px;
  border: 1px solid lightgray;
  margin: 1em;
}

.card-trending img {
  width: 100%;
  height: 400px;
  object-fit: cover;

}

.card-trending h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0.5em 0;
}

.card-trending p {
  font-size: 0.9em;
  text-align: center;

}



/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- --  janela modal */


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 110%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  margin: auto;
  padding: 0;
  width: 100%;
  max-width: 800px;
  height: 450px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: modal-fade;
  animation-duration: 0.4s;
  display: flex;
  border-radius: 10px;

}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

#modal-image {
  padding: 10px;
  width: 400px;
  max-width: 100%;
  height: auto;

}

#modal-image img {
  max-width: 100%;
  height: auto;
}

.modal-body {  padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

#modal-title {
  /* border: 1px solid red; */
  font-weight: bold;
  font-size: 24px;
  margin-top: 20px;
  margin-left: 9.6px;
}

#modal-description {
  margin-top: 50px;
  padding: 10px;
}

#modal-valor, #modal-more {
  margin-left: 8px;
  margin-top: 30px;
  width: 130px;
  color: white;
  background-color: #C8405E;
  height: 22px;
  padding: 5px 1px 20px 10px;
  border-radius: 4px;
  text-decoration: none;
}
.modal-text-separation p{
  text-decoration: none;
}

.modal-text-separation a{
  text-decoration: none;
  color: white;
}

/* #modal-valor{
  border: 1px solid red;
  padding-left: 300;
} */



@keyframes modal-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- --  banner --> */
section.banner {
  display: flex;
  justify-content: center;
  gap: 10%;
  background-color: #bc183cd3;
  height: 145px;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 100.0%;
}

.banner h2 {
  /* border: 1px solid blue; */
  height: 30px;
  margin-top: 55px;
  font-size: 24px;
  color: white;
  font-weight: bolder;

}

.banner a {
  /* border: 1px solid blue;  */
  height: 50px;
  margin-top: 40px;
  height: 30px;
  width: 320px;
  font-size: 18px;
  padding: 18px 20px 30px 20px;
  background-color: white;
  text-decoration: none;
  color: #bc183cd3;
  font-weight: bolder;
  border-radius: 3px;
}


/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- carrosel produtos novidades */


.produtos2 {
  display: flex;
  justify-content: space-around;
  width: 99%;
  height: 530px;
  margin-left: -50px;
}

.card2 {
  display: inline-block;
  width: 19%;
  height: 330px;
  background-color: transparent;
  margin: 10px;
  text-align: center;
  height: 530px;

}

/* Define o estilo para as imagens dos cards */
.card2 img {
  width: 360px;
  height: 80%;
}

/* Define o estilo para o texto dos cards */
.card2 .desconto2 {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  margin: 10px;
  margin-left: 10px;
  width: 80px;
  background-color: red;
}

.card2 .preco2 {
  font-size: 16px;
  color: #000000;
  margin: 10px;
  margin-left: -95px;
}

.card2 .descricao2 {
  font-size: 14px;
  color: #333333;
  padding: 10px 10px 10px 0px;
  margin-left: -146px;
}

/* parte do meio depois do carrossel */
.bottom-section2 {
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin-left: 13%;
  margin-bottom: 30px;
}

.bottom-title2 {
  width: 400px;
  font-weight: bolder;
}

.bottom-title2 p {
  margin-top: 16px;
  font-size: 24px;
}

/* Define o estilo para os botões */
.btn-box2 {
  width: 110px;
  height: 50px;
  margin-bottom: -10px;
  display: flex;
  justify-content: center;
  margin-right: -30px;
}

button {
  width: 50px;
  height: 50px;
  font-size: 14px;
  margin-left: -20px;
  font-weight: 900;
}

#btn-prev2, #btn-next2 {
  background-color: rgba(243, 242, 242, 0.685);
  color: rgb(0, 0, 0);
  margin-left: 5px;
  width: 25px;
  height: 25px;
  margin-top: 20px;
  margin-left: 15px;
}

#btn-prev2:hover, #btn-next2:hover {
   background-color: #000; 
   color: white;
  }


/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- Banner causa social */

#bannerSocial img {
  height: 300px;
  width: 100%;
  margin-bottom: 30px;
}