<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/sports.png" type="image/x-icon">

    <link href="../style/reset.css" rel="stylesheet">
    <link href="../style/about.css" rel="stylesheet">
    <link href="../style/header.css" rel="stylesheet">
    <link href="../style/footer.css" rel="stylesheet">
   
    <title>Sobre Nós</title>
</head>
<body>
    <header class="header scroll">
        <div class="h-titulo"><p>Sport Center Soul</p></div>
    
        <div class="h-medio">
            <div class="h-navybar">
                <ul class="nav-list">
                    <li class="nav-item"><a href="../views/home.html">Home</a></li>
                    <li class="nav-item"><a href="../views/carrinho.html">Produtos</a></li>
                    <li class="nav-item"><a href="../views/about.html">Sobre</a></li>
                    <li class="nav-item"><a href="../views/contact.html">Contato</a></li>
                </ul>
            </div>
            <div class="right-side">
                <div class="search">
                    <input type="text" placeholder="Procurar">
                </div>
                <div class="icons-header">
                    <div class="icon-right-site"> 
                        <a href="../views/desenvolvimento.html">
                            <ion-icon name="person-outline"></ion-icon>
                        </a>
                       
                    </div>
                
                    <div class="icon-right-site">
                        <a href="../views/desenvolvimento.html">
                            <ion-icon name="star-outline"></ion-icon>
                        </a>
                       
                    </div>
                
                    <div class="icon-right-site">
                        <a href="../views/desenvolvimento.html">
                            <ion-icon name="cart-outline"></ion-icon>
                        </a>
                        
                    </div>
                </div>
    
            </div>
    
            
            </div>
    
    
        <div class="h-cadastro"><a href="../views/contact.html">
            Entre para o clube
    
        </a>
        </div>
    
    
    </header>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>





    <!--<iframe src="/partials/header.html" frameborder="0" height="150px" width="100%"></iframe> -->
    
   <section class="container">
    <div class="container_about">
         <h4>About</h4>
         <h2 class="container_titulo">Profile</h2>
    </div>
    <div>
        <img class="container_img" src="https://www.adidas-group.com/media/filer_public_thumbnails/filer_public/66/69/66693d7c-bc7b-4681-abd3-921644732c5c/18_02_2021_profile.jpg__800x900_q85_crop-smart_subject_location-2055%2C1037_subsampling-2.jpg">
    </div>
   </section>

   <!--IMAGENS CENTRAIS + TEXTO INICIO-->
   <section class="container_texto_centro">
        <div class="div_central">
            <p class="container_descricao_central">Nossa empresa surgiu a 3 meses quando seus fundadores <a href="https://www.linkedin.com/in/andluna/" rel="External" target="_blank" class="link_nomes">Andre Luna</a>, <a href="https://www.linkedin.com/in/thiago-devsalesforce/" rel="External" target="_blank" class="link_nomes">Thiago Felix</a>, <a href="https://www.linkedin.com/in/pedro-neto-b381a3239/" rel="External" target="_blank"class="link_nomes">Pedro Neto</a>, <a href="https://www.linkedin.com/in/marcelo-j%C3%A1come-de-lima-a3399720a/" rel="External" target="_blank"class="link_nomes">Marcelo Jácome</a>, <a href="#"class="link_nomes"rel="External" target="_blank">Janaina Menezes</a> e <a href="linkedin.com/in/betadamasoestudantesalesforce"rel="External" target="_blank" class="link_nomes">Beta Damaso</a> perceberam que os moradores da cidade Smith tinham muitos problemas para adquirir produtos esportivos de qualidade e ficar por dentro de todas as novidades do mundo esportivo</p>
            <br>
            <p class="container_descricao_central">
            
            </p>
            <br>
            <br>
        </div>
        <h2 class="titulo_meio">Projeto Hexa</h2>
        <div class="foto2_container_central">
            <img class="container_img_central" src="https://www.contec.org.br/wp-content/uploads/2022/04/esporte.jpg">
        </div> 
    </section>
   <!--IMAGENS CENTRAIS + TEXTO , FIMMMM-->
   <!--IMAGENS CENTRAIS + TEXTO , INICIO-->
   <section class="container_texto_centro">
    <div class="div_central">
        <p class="container_descricao_central">Projeto HEXA, temos parceirias com escolinhas de futebol por todo o Brasil e nossa empresa está empenhada em revelar novos talentos do futebol, para isso, inicamos um projeto social com o projeto Hexa, o projeto consiste em apresentar o esporte para crianças carentes, queremos alcançar o maior numero de crianças possiveis e mostrar que o esporte consegue mudar vidas. O <b>Sport Center Soul</b>  quer revelar os novos talentos para trazer o nosso Hexa, estamos cansados de não conseguir o hexa então para isso temos esse fantástico e divertido projeto.
        <br>
    </div>
    <h2 class="titulo_meio">Nossa atitude</h2>
    <div class="foto2_container_central">
        <img class="container_img_central" src="https://www.junsoft.com.br/blog/img/65-3.jpg">
    </div> 
</section>
<section class="container_texto_centro">
<p class="container_descricao_central">
Nós acreditamos que o esporte pode mudar vidas, sendo assim, temos como objetivo levar o esporte para todos os lugares, queremos alcançar o mundo todo. Para isso acontecer precisamos iniciar de alguma forma, então queremos começar a iniciar projetos sociais para oferecer gratuitamente a prática de esportes para quem nunca teve a oportunidade de praticar algo.
</p>
</section>
<!--IMAGENS CENTRAIS + TEXTO , FIMMMM-->
<section class="container_texto_centro">
    <h2 class="titulo_meio"><b>Melhor postura</b></h2>
    <div class="foto2_container_central">
        <img class="container_img_central" src="../images/trapezio.jpeg">

    </div>
    <p class="container_descricao_central">
        O esporte pode mudar vidas, esse é nosso slogan, por isso temos o projeto TRAPEZIO DESCENDENTE, esse projeto leva academia para todos, esse projeto nasceu devido ao alto número de jovens com problema de postura, esses problemas estavam prejudicando o seu desenvolvimento corporal
        então fizemos uma parceria com o grande <a href="https://www.linkedin.com/in/filipesantanadev/" rel="External" target="_blank" class="link_nomes">Filipe Smith</a> personal internacional para que ele possa auxilar nossos jovens com treinos diarios realizados durante lives no nosso instagram.
        </p>
</section>

    
    



            <footer class="footer_about">
                <div class="categoria">
                  <h3>PRODUTOS</h3>
                  <ul>
                    <li><a href="#">Calçados</a></li>
                    <li><a href="#">Acessórios</a></li>
                    <li><a href="#">Chuteiras</a></li>
                  </ul>
                </div>
            
            
                <hr class="vertical-line">
            
                <div class="categoria">
                  <h3>ESPORTES</h3>
                  <ul>
                    <li><a href="#">Futebol</a></li>
                    <li><a href="#">Futsal</a></li>
                    <li><a href="#">Futepraia</a></li>
                  </ul>
                </div>
            
                <hr class="vertical-line">
            
                <div class="categoria">
                  <h3>INFORMAÇÕES</h3>
                  <ul>
                    <li><a href="#">Sobre nos</a></li>
                    <li><a href="#">Carreiras</a></li>
                    <li><a href="#">Imprensa</a></li>
                  </ul>
                </div>
            
                <hr class="vertical-line">
            
                <div class="categoria">
                  <h3>SIGA-NOS</h3>
                  <ul>
                    <li><a href="https://www.facebook.com/SoulCodeAcademy" rel="External" target="_blank">
                        <ion-icon name="logo-facebook"></ion-icon>
                        Facebook
                      </a>
            
                    </li>
                    <li><a href="https://twitter.com/SoulCodeAcademy" rel="External" target="_blank">
                        <ion-icon name="logo-Twitter"></ion-icon>
                        Twitter
                      </a>
            
                      </ion-icon>
                    </li>
                    <li><a href="https://www.instagram.com/soulcodeacademy/" rel="External" target="_blank">
                        <ion-icon name="logo-Instagram"></ion-icon>
                        Instagram
                      </a>
            
                    </li>
                  </ul>
                </div>
              </footer>
              <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
              <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>



        </footer>
        </html>


        <script src="../js/header.js"></script>

    <!--<iframe src="/partials/footer.html" frameborder="0" height="150px" width="100%"></iframe>-->
</body>
</html>