<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Soul Sport Center</title>
  <link rel="shortcut icon" href="../images/sports.png" type="image/x-icon">

  <link rel="stylesheet" href="../style/reset.css">
  <link rel="stylesheet" href="../style/header.css">
  <link rel="stylesheet" href="../style/home.css" type="text/css">
  <link rel="stylesheet" href="../style/carrossel.css">
  <link rel="stylesheet" href="../style/categorias.css">
  <link rel="stylesheet" href="../style/footer.css">
</head>

<body>
  <!-- <iframe src="/partials/header.html" frameborder="0" height="150px" width="100%"></iframe> -->

  <header class="header">
    <div class="h-titulo">
      <p>Sport Center Soul</p>
    </div>

    <div class="h-medio">
      <div class="h-navybar">
        <ul class="nav-list">
          <li class="nav-item"><a href="../views/home.html">Home</a></li>
          <li class="nav-item"><a href="../views/carrinho.html">Produtos</a></li>
          <li class="nav-item"><a href="../views/about.html">Sobre</a></li>
          <li class="nav-item"><a href="../views/contact.html">Contato</a></li>
        </ul>
      </div>
      <div class="right-side">
        <div class="search">
          <input type="text" placeholder="Procurar">
        </div>

        <div class="icons-header">
          <div class="icon-right-site">
            <a href="../views/desenvolvimento.html"> <ion-icon name="person-outline"></ion-icon> </a>
          </div>

          <div class="icon-right-site">
            <a href="../views/desenvolvimento.html"><ion-icon name="star-outline"></ion-icon> </a>
          </div>

          <div class="icon-right-site">
            <a href="../views/desenvolvimento.html"><ion-icon name="cart-outline"></ion-icon> </a>
          </div>
        </div>
      </div>
/    </div>

    <div class="h-cadastro">
      <a href="../views/contact.html">Entre para o clube</a>
    </div>
  </header>



  <!--                                      inicio carrossel -->
  <div id="carousel">
    <img src="../images/foot.jpg" class="slide">
    <img src="../images/hero-bg.jpg" class="slide">
    <img src="../images/ucd-sport-2016-pageBanner04.jpg" class="slide">
  </div>
  <button id="previous"> <img src="../images/arrow-circle-left.svg" alt=""> </button>
  <button id="next"> <img src="../images/arrow-circle-right.svg" alt=""> </button>

  <!-- bolinhas de paginacao -->
  <div id="pagination">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>
  <!--                                      Carrossel Fim            -->


  <!--                                      Tendencias start            -->
  <section id="trending-section">
    <h2>Tendencias</h2>

    <div class="card-container">

      <a class="card-trending" href="#" onclick="showModal(event, 1)">
        <img src="../images/trend05.webp" alt="Trending 1" id="tendencia_imagem1">
        <h3 id="title-tendencia1">Casaco SoulCoder SF.T7</h3>
        <p>Elegancia e funcionalidade unidas num só lugar.</p>
      </a>

      <a class="card-trending" href="#" onclick="showModal(event, 2)">
        <img src="../images/trend7.png" alt="Trending 2" id="tendencia_imagem2">
        <h3 id="title-tendencia2">Camisa MLK
        </h3>
        <p>Estilo e uma importante causa social.</p>
      </a>

      <a class="card-trending " href="#" onclick="showModal(event, 3)">
        <img src="../images/trendBr.jpeg" alt="Trending 3" id="tendencia_imagem3">
        <h3 id="title-tendencia3">Camisa do Brasil
        </h3>
        <p>Novo modelo camisa do brasil</p>
      </a>

      <a class="card-trending" href="#" onclick="showModal(event, 4)">
        <img src="../images/trend6.jpg" alt="Trending 4" id="tendencia_imagem4">
        <h3 id="title-tendencia4">Tênis SportCoder
        </h3>
        <p>Alinhe seu desempenho maximo com tecnologia.</p>
      </a>

    </div>
  </section>
  <!--                                      Tendencias Fim            -->

  <!--                                      Modal start            -->
  <div id="modal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="hideModal()">&times;</span>
      <img id="modal-image" src="trending-1.jpg" alt="Trending 1">
      <div class="modal-text-separation">
        <h3 id="modal-title"></h3>
        <p id="modal-description"></p>
        <!-- <p id="modal-valor"></p> -->
        <a href=""><p id="modal-more"></p></a>

      </div>

    </div>
  </div>
  <!--                                      Modal Fim            -->


  <!--                                      Paginacao destaque start            -->
  <div class="destaque_section">
    <div class="destaque_title">
      <p>Seção em destaque</p>
    </div>

    <div class="btn-box">
      <button class="botnn" id="btn-prev">
        <p>
           </p>
      </button>
      <button class="botnn" id="btn-next">
        <p> > </p>
      </button>
    </div>
  </div>

  <!--                                      Paginacao destaque fim             -->


  <!--                                       Destaque start            -->
  <section class="produtos">

    <div class="destaque-card">
      <img src="../images/camisa.webp" alt="Imagem do produto 1">
      <div class="desconto">10% OFF</div>
      <div class="preco">R$ 89,90</div>
      <div class="descricao">Camiseta Adicolor - Ela mantém seu corpo seco com o tecido AEROREADY, que controla a umidade, para que você siga confortável.</div>
    </div>
    <div class="destaque-card">
      <img src="../images/camisa2.webp" alt="Imagem do produto 2">
      <div class="desconto">20% OFF</div>
      <div class="preco">R$ 119,99</div>
      <div class="descricao">Camiseta esportiva - Os pequenos só querem se divertir, e esta camiseta infantil adidas Adicolor adora brincar.  </div>
    </div>
    <div class="destaque-card">
      <img src="../images/camisa3.webp" alt="Imagem do produto 3">
      <div class="desconto">10% OFF</div>
      <div class="preco">R$ 99,99</div>
      <div class="descricao">Camiseta Essentials - Se você já experimentou o Crf Tr Polo antes, deixe um comentário a seguir para nos contar o que você achou.  </div>
    </div>
    <div class="destaque-card">
      <img src="../images/jaqueta.jpg" alt="Imagem do produto 4">
      <div class="desconto">20% OFF</div>
      <div class="preco">R$ 199,99</div>
      <div class="descricao">Moletom Essentials - Este vai para os que adoram um moletom e que sempre souberam que você nunca erra quando veste um. </div>
    </div>
    <div class="destaque-card">
      <img src="../images/calca1.webp" alt="Imagem do produto 5">
      <div class="desconto">20% OFF</div>
      <div class="preco">R$ 299,99</div>
      <div class="descricao">Calças Pretas Adidas - A calça esportiva é prova incontestável disso. Sinônimo de descontração e conforto.</div>
    </div>
    <div class="destaque-card">
      <img src="../images/calca2.webp" alt="Imagem do produto 6">
      <div class="desconto">20% OFF</div>
      <div class="preco">R$ 199,99</div>
      <div class="descricao">Calças Afuniladas - Exiba um look atlético dentro e fora de campo.</div>
    </div>
    <div class="destaque-card">
      <img src="../images/calca3.webp" alt="Imagem do produto 7">
      <div class="desconto">20% OFF</div>
      <div class="preco">R$ 149,99</div>
      <div class="descricao"> Calças Adidas - Este produto é feito com Primegreen, uma série de materiais reciclados de alta performance.</div>
    </div>
    <div class="destaque-card">
      <img src="../images/calca4.webp" alt="Imagem do produto 8">
      <div class="desconto">20% OFF</div>
      <div class="preco">R$  249,99</div>
      <div class="descricao"> Calça Beand Love - O tecido AEROREADY ajuda a controlar a umidade.</div>
    </div>
    <div class="destaque-card">
      <img src="../images/tenis2.webp" alt="Imagem do produto 10">
      <div class="desconto">20% OFF</div>
      <div class="preco">R$ 499,99</div>
      <div class="descricao"> Stan Smith Her Vegan - Este tênis adidas Stan Smith adota a mentalidade "Make it juicy”. </div>
    </div>
    <div class="destaque-card">
      <img src="../images/tenis.webp" alt="Imagem do produto 9">
      <div class="desconto">20% OFF</div>
      <div class="preco">R$ 599,99</div>
      <div class="descricao">Tenis Super Smith - Criado originalmente para as quadras de basquete nos anos 70. </div>
    </div>
  </section>

  <!--                                      Destaque fim            -->
  <!--                                       inicio banner  -->

  <section class="banner">
    <h2>Entre para o Clube e ganhe 20% OFF!</h2>

    <a href="../views/contact.html">
      Cadastre-se gratuiamente
    </a>

  </section>
  <!--                                      fim banner  -->


  <!--                                      Categorias start            -->
  <h1 class="categorias_title">Categorias</h1>


  <section class="cardes">

    <div class="cards">
      <div class="card novidade1">
        <div class="card-content">
          <h2 class="card-title">Calçados</h2>
          <p class="card-body">
            Aumente seu desempenho com os melhores calçados.
          </p>
          <a href="../views/carrinho.html" class="buttom bskills categ1" data-categoria="calçados">Confira aqui</a>
        </div>
      </div>

      <div class="card novidade2">
        <div class="card-content">
          <h2 class="card-title">Blusas</h2>
          <p class="card-body">
            O melhor em blusas e moletons.
          </p>
          <a href="../views/carrinho.html" class="buttom bskills categ2" data-categoria="blusas">Confira aqui</a>
        </div>
      </div>

      <div class="card novidade3">
        <div class="card-content">
          <h2 class="card-title">Calças</h2>
          <p class="card-body">
            As melhores calças do mercado.
          </p>
          <a href="../views/carrinho.html" class="buttom bskills categ3">Confira aqui</a>
        </div>
      </div>

      <div class="card novidade4">
        <div class="card-content">
          <h2 class="card-title">Todas</h2>
          <p class="card-body">
            Confira todo nosso estoque.
          </p>
          <a href="../views/carrinho.html" class="buttom bskills categ4">Confira aqui</a>
        </div>
      </div>

    </div>
  </section>
<!-- 
  <section id="bannerSocial">
    <img src="../images//bannerSocial.jpg" alt="">
  </section> -->






  <!-- ----                                    nao mexer abaixo -->
  <!-- header  -->
  <script src="../js/header.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <!-- carrinho  -->
  <script src="../js/carrinho.js"></script>

  <script src="../js/home.js"></script>
  <script src="../js/carrossel.js"></script>
  <iframe src="../partials/footer.html" frameborder="0" height="150px" width="100%"></iframe>
  <!-- <iframe src="/partials/footer.html" frameborder="0" height="150px" width="100%"></iframe> -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>