<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Obrigado</title>
    <link rel="stylesheet" href="../style/contact.css">
    <link rel="stylesheet" href="../style/header.css">
    <link rel="stylesheet" href="../style/footer.css">
    <link rel="stylesheet" href="../style/obrigado.css">
    
</head>
<body Style="background-color: #f7f7f7;">
  <!--Head-->
  <header class="header">
    <div class="h-titulo"><p>Sport Center Soul</p></div>

    <div class="h-medio">
        <div class="h-navybar">
            <ul class="nav-list">
                <li class="nav-item"><a href="../views/home.html">Home</a></li>
                <li class="nav-item"><a href="../views/carrinho.html">Produtos</a></li>
                <li class="nav-item"><a href="../views/about.html">Sobre</a></li>
                <li class="nav-item"><a href="../views/contact.html">Contato</a></li>
            </ul>
        </div>
        <div class="right-side">
            <div class="search">
                <input type="text" placeholder="Procurar">
            </div>

            <div class="icons-header">
                <div class="icon-right-site"> 
                    <a href="../views/desenvolvimento.html"> <ion-icon name="person-outline"></ion-icon>  </a>
                    </div>
            
                <div class="icon-right-site">
                    <a href="../views/desenvolvimento.html"><ion-icon name="star-outline"></ion-icon> </a>
                   </div>
            
                <div class="icon-right-site">
                    <a href="../views/desenvolvimento.html"><ion-icon name="cart-outline"></ion-icon> </a>                
                </div>
            </div>
        </div>      
        </div>

    <div class="h-cadastro">
      <a href="../views/contact.html">Entre para o clube</a>
    </div>
</header>  
<!--Fomulario-->
  <div class="container" >
        <a class="links" id="fazercontato"></a>
        
        <div class="content">      
          <div id="contato"> 
              
            <h1 style="margin-top: 1%; text-align: center;">Tudo Certo! Agora é só aguardar o contato da nossa equipe!</h1>
            <div style=" text-align: center;"><img src="../images/Logo.png" alt="Logo"></div>
                
                
          </div>
        </div>
      </div>  
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script> 
      
      <script src="/js/header.js"></script>
      <iframe src="../partials/footer.html" frameborder="0" height="150px" width="100%"></iframe>
  <!-- <iframe src="/partials/footer.html" frameborder="0" height="150px" width="100%"></iframe> -->
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>